# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

/httpd.conf
/start-nginx.sh
docker/docker-compose.qa.yml
docker-compose.qa.yml

# dependencies
/node_modules
/package-lock.json

# IDEs and editors
/.idea
/omni-marchex-io.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log
.node-version

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
