<div class="sidenav-content" fxLayout="column" fxLayoutAlign="stretch">
  <div class="nav-logo">
    <img src="./assets/logo/marchex-logo-white.png">
  </div>
  <div class="nav-content">
    <mat-list>
      <mat-list-item fxLayout="row" class="selected">
        <div fxFlex="20" class="text-align-end">
          <span class="icon-search-analytics side-bar-font"></span>
        </div>
        <div class="minus-margin-4 side-bar-font" fxFlex="60">
          <h6 class="display-inline">Search Analytics</h6>
        </div>
        <div fxFlex="20">
          <span class="icon-arrow-right side-bar-font"></span>
        </div>
      </mat-list-item>
      <mat-list-item fxLayout="row">
        <div fxFlex="20" class="text-align-end">
          <span class="icon-display-analytics side-bar-font"></span>
        </div>
        <div class="minus-margin-4 side-bar-font" fxFlex="60">
          <h6 class="display-inline">Display Analytics</h6>
        </div>
        <div fxFlex="20">
          <span class="icon-arrow-right side-bar-font"></span>
        </div>
      </mat-list-item>
      <mat-list-item fxLayout="row">
        <div fxFlex="20" class="text-align-end">
          <span class="icon-audience-analytics side-bar-font"></span>
        </div>
        <div class="minus-margin-4 side-bar-font" fxFlex="60">
          <h6 class="display-inline">Audience Analytics</h6>
        </div>
        <div fxFlex="20">
          <span class="icon-arrow-right side-bar-font"></span>
        </div>
      </mat-list-item>
      <mat-list-item fxLayout="row">
        <div fxFlex="20" class="text-align-end">
          <span class="icon-conversion-UI side-bar-font"></span>
        </div>
        <div class="minus-margin-4 side-bar-font" fxFlex="60">
          <h6 class="display-inline">Conversion UI</h6>
        </div>
        <div fxFlex="20">
          <span class="icon-arrow-right side-bar-font"></span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
