<div fxLayout="column" fxLayoutAlign=" none" class="search-account">
  <omni-card-header [headerText]="'Search Accounts'" [buttonText]="'View Details'" [iconClass]="'icon-setting'"
    (action)="navigate()" class="search-account__card-header-pattern-section">
  </omni-card-header>
  <omni-search (search)="search($event)" class="search-account__account-searchbar-section"></omni-search>
  <div class="search-account__body">
  <div class="search-account__message-section">
    <h4 *ngIf="(searchAccountState$|async).loading && !(searchAccountState$|async).searchAccounts.total_items" class="display-inline">Fetching Search Accounts</h4>
    <h4 *ngIf="(searchAccountState$|async).loaded && !(searchAccountState$|async).searchAccounts.total_items" class="display-inline">No search accounts found</h4>
  </div>
  <div fxLayout="column" fxLayoutAlign=" none" class="search-account__list-section" *ngIf="(searchAccountState$|async).searchAccounts.total_items">
    <div *ngFor="let searchAccount of (searchAccountState$|async).searchAccounts.accounts; let i = index" class="search-account__list-section__row" [ngClass]="{'search-account__list-section__row--border': i != 0}">
      <div fxFlex="10" class="search-account__list-section__row source-icon">
        <img *ngIf="searchAccount.source == 'bingads'" class="source-icon--bing-icon" src="assets/images/search-analytics/bing.png">
        <img *ngIf="searchAccount.source == 'adwords'" class="source-icon--adwords-icon" src="assets/images/search-analytics/google.png">
      </div>
      <div fxFlex="20">
        <h6 class="display-inline">Integration</h6>
        <h5 class="search-account__list-section__row__item">{{searchAccount.integrationId}}</h5>
      </div>
      <div fxFlex="40">
        <h6 class="display-inline">Account Name</h6>
        <h5 class="search-account__list-section__row__item">{{searchAccount.name}}</h5>
      </div>
      <div fxFlex="20">
        <h6 class="display-inline">Account ID</h6>
        <h5 class="search-account__list-section__row__item">{{searchAccount.sourceId}}</h5>
      </div>
      <div fxFlex="10" class="search-account__list-section__row unlink">
        <h6 class="display-inline unlink-text" (click)="unlinkSearchAccount(searchAccount)">Unlink</h6>
      </div>
    </div>
  </div>
  </div>
  <div class="search-account__pagination-section " *ngIf="(searchAccountState$|async).searchAccounts.total_items > limit">
    <mat-paginator class="pagination" [length]="(searchAccountState$|async).searchAccounts.total_items" [pageSize]="limit" [pageIndex]="pageIndex"
      (page)="paginate($event)"></mat-paginator>
  </div>
</div>