.header {
  padding: 10px 0;
  background: url('/assets/logo/marchex_menu-header-bg.png') no-repeat;
  background-size: cover;
  background-position: 0 -5px;
  height: 125px;
  line-height: 55px;
  
  @media screen and (max-width: 1440px) {
    background-position: right 0px top -5px;
    height: 92px;
    line-height: 45px;
  }
  @media screen and (max-width:992px) {
    line-height: 15px;
  }

  @media screen and (max-width: 768px) {
    background-position: right -50px top -6px;
    height: 80px;
    padding: 0px 0px 10px 0px;
  }

  &__wrapper {
    height: 100%;
    @media screen and (max-width: 1440px) {
      height: 78%;
    }

    @media screen and (max-width: 768px) {
      height: 95%;
    }
  }

  &__logo {
    img {
      width: 130px;
      margin-left: 30px;
    }
  }
  &__navigation {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-bottom: -7px;
    @media screen and (max-width: 992px) and (min-width: 768px) {
      margin-left: 30px;
    }
    li {
      padding: 2px 40px;
      display: inline-block;
      @media screen and (max-width: 992px) and (min-width: 768px) {
        padding: 15px 30px;
      }
      @media screen and (max-width: 768px) {
        padding: 10px 30px;
      }
    }
    li a {
      color: #fff;
      text-decoration: none;
    }
    li:hover,
    li.active {
      border-bottom: 4px solid #fff;
    }
  }
  &__user-info {
    text-align: right;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    @media screen and (max-width: 992px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 0px;
      padding-left: 0px;
    }
    .username {
      margin-bottom: 0;
      padding-bottom: 0;
      color: #fff;
      cursor: pointer;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 13px;
      }
      .greet-label {
        line-height: 10px;
      }
    }
    .icon-arrow-down {
      font-size: 23px;
      position: relative;
      top: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.mat-menu-content .mat-menu-item {
  line-height: 30px;
  height: 30px;
}
.cdk-overlay-pane {
  margin-top: 22px;
}
.cdk-overlay-pane .mat-menu-panel {
  min-width: 200px;
}

.avatar {
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 5px 10px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  background-color: #FFF;
  padding: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.48);
}