.refdom {
  border-radius: 10px;
  padding: 60px 25px 30px 25px;
  width: 600px;
  position: relative;
  .sources-list{
    height: 130px;
    max-height: 100%;
    overflow: auto;
    padding-bottom: 10px;
    &::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar {
			width: 5px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 15px;
			background-color: #D1D4D7;
			border: 2px solid #D1D4D7;
		}
  }
  .add-source-label {
    padding: 20px 0px;
  }
  .add-sources {
    color: #0070FF;
    display: inherit;
    top: -9px;
    position: relative;
    font-size: 35px;
    cursor: pointer;
  }
  .remove-source-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  .mat-form-field.display-block {
    display: block;
  }
  &__button-section {
    display: flex;
    margin: auto;
    margin-right: 0px;
    padding-top: 30px;
    justify-content: flex-end;
    .button {
      width: 119px;
      text-align: center;
      margin-right: 15px;
      padding: 5px;
      border-radius: 5px;
      font-size: 1em;
    }
    .mat-button.update-button {
      background: linear-gradient(to right, #0070FF 0%, #00ACE7 100%);
      color: white;
      margin: 0px;
    }
    .cancel-button {
      color: #266df1;
    }
    .update-button {
      &.disabled {
        cursor: default;
        pointer-events: none;
        background: #A8A9AA;
      }
    }
  }
}

.dialog-close-icon {
  position: absolute;
  padding: 4px;
  font-size: 16px;
  font-weight: 900;
  opacity: 0.6;
  right: 10px;
  top: 15px;
  cursor: pointer;
}