map $http_origin $cors_origins {
  default "";
  https://marchex-dev.auth0.com $http_origin;
  https://marchex-qa.auth0.com $http_origin;
  https://marchex.auth0.com $http_origin;
}

server {

  listen 80;

  sendfile on;

  default_type application/octet-stream;

  gzip on;
  gzip_http_version 1.1;
  gzip_disable      "MSIE [1-6]\.";
  gzip_min_length   256;
  gzip_vary         on;
  gzip_proxied      expired no-cache no-store private auth;
  gzip_types        text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
  gzip_comp_level   9;


  root /usr/share/nginx/html;

  # Support for hosting UI in www.marchex.io under the path `/x/`
  location /x {
    try_files $uri @application;
  }

  location ~ /x/assets/(fonts|login|logo) {
    try_files $uri @assets;
  }

  # nginx ELB health response.
  location /health {
      return                      200 'OK';
      add_header Content-Type text/plain;
      access_log                  off;
  }

  location @application {
    rewrite ^/x/(.*)$ /$1 break;
    try_files $uri $uri/ /index.html;
  }

  location @assets {
    add_header Vary Origin;
    add_header Access-Control-Allow-Origin $cors_origins;

    rewrite ^/x/(.*)$ /$1 break;
    try_files $uri $uri/ =404;
  }
}
