/************************************** Marchex Color Maps **************************************/
$mchx-blue: (
  50 : #e0eeff,
  100 : #b3d4ff,
  200 : #80b8ff,
  300 : #4d9bff,
  400 : #2685ff,
  500 : #0070ff,
  600 : #0068ff,
  700 : #005dff,
  800 : #0053ff,
  900 : #0041ff,
  A100 : #ffffff,
  A200 : #f2f5ff,
  A400 : #bfccff,
  A700 : #a6b7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mchx-light-blue: (
  50 : #e0f6fc,
  100 : #b3e9f6,
  200 : #80daf1,
  300 : #4dcbeb,
  400 : #26c0e6,
  500 : #00b5e2,
  600 : #00aedf,
  700 : #00a5da,
  800 : #009dd6,
  900 : #008dcf,
  A100 : #f6fcff,
  A200 : #c3eaff,
  A400 : #90d7ff,
  A700 : #77ceff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mchx-light-purple: (
  50 : #f5e4f5,
  100 : #e6bae6,
  200 : #d68dd6,
  300 : #c65fc5,
  400 : #b93cb8,
  500 : #ad1aac,
  600 : #a617a5,
  700 : #9c139b,
  800 : #930f92,
  900 : #830882,
  A100 : #ffb2fe,
  A200 : #ff7ffe,
  A400 : #ff4cfd,
  A700 : #ff32fd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

